.container {
  background-color: var(--orange-bg-svg);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container svg {
  color: var(--orange-default);
}
